.modulobt {
    border: none;
    padding: 10px 26px;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    position: fixed; 
    margin: 4px 10px;
    width: 320px;
    z-index: 1;
}

#btmodulo {
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 0px;
    padding: 10px;
    background-color: red;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 40px;   
}

@media screen and (max-width: 768px) { .modulobt { left: 35px; font-size: 8px; margin-top: 30px;} }
@media screen and (min-width: 1024px) { .modulobt { left: 75%; } }
